[submodule "work_farm"]
	path = work_farm
	url = ../work_farm.git
[submodule "nanhu-g/software/opensbi"]
	path = nanhu-g/software/opensbi
	url = ../../ICT-SERVE-FARM/opensbi.git
[submodule "nanhu-g/hardware/xs-gen"]
	path = nanhu-g/hardware/xs-gen
	url = ../xiangshan.git
[submodule "shell/software/xdma_drv"]
	path = shell/software/xdma_drv
	url = ../dma_ip_drivers.git
[submodule "nanhu-g/software/rootfs"]
	path = nanhu-g/software/rootfs
	url = ../rootfs.git
[submodule "tools/remu/framework"]
	path = tools/remu/framework
	url = ../../remu/remu.git
[submodule "tools/remu/iverilog"]
	path = tools/remu/iverilog
	url = ../../remu/iverilog.git
